## 딕셔너리는 키와 값 쌍으로 이뤄진다.

In [20]:
x = {'a':1,'b':2,'c':3}

In [4]:
x

{'a': 1, 'b': 2, 'c': 3}

In [5]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [6]:
x.values()

dict_values([1, 2, 3])

### 반복문을 이용해서 딕셔너리에 있는 키와 값을 불러오자!

In [14]:
x

{'a': 1, 'b': 2, 'c': 3}

In [8]:
for i in x:
    print(i) #키 값을 기준으로 불러온다!

a
b
c

### key와 value를 같이 불러 오고 싶은 경우!

In [9]:
x

{'a': 1, 'b': 2, 'c': 3}

In [11]:
for key, value in x.items():
    print(key, value)

a 1
b 2
c 3

### Q. 반복문을 이용해서 키 값만, value 값만 불러오는 코드를 작성해주세요!

In [12]:
for key in x.keys():
      print(key, end=' ')

a b c

In [15]:
for key in x.values():
      print(key, end=' ')

1 2 3

### 딕셔너리 표현식에서 if 조건문 사용하기!

In [16]:
x

{'a': 1, 'b': 2, 'c': 3}

In [18]:
x

{'a': 1, 'b': 2}

In [17]:
for key, value in x.items():
    if value == 3:
        del x[key]
        
print(x)

RuntimeError: dictionary changed size during iteration

In [19]:
x

{'a': 1, 'b': 2}

### 딕셔너리 표현식에서 if 조건문 사용하기!

- {키:값 for 키, 값 in 딕셔너리 if 조건식}

In [22]:
# 값이 3이 아닌 것만 출력해라!
b = {key: value for key, value in x.items() if value !=3 }

In [23]:
b

{'a': 1, 'b': 2}

### 과제 1.
- 지난 리스트와 동일한 문법을 적용해 보고 딕셔너리도 가능한지 체크해 주세요!
- 최소 5개 이상 리스트에서 배운 내용 적용시켜 주세요!

### 세트 사용하기!
- 집합 (합집합, 교집합, 차집합, 여집합.. 등등 )
- 중복을 제거해준다! 

- 세트 만들기
    - 세트는 동일하게 {} 중괄호를 이용해서 만든다!

In [24]:
abc = {'a','b','c','d','e'}

In [25]:
abc

{'a', 'b', 'c', 'd', 'e'}

In [26]:
abc = ['a','a','a','b','c']

In [27]:
abc

['a', 'a', 'a', 'b', 'c']

In [28]:
abc = {'a','a','a','b','c'}

In [29]:
abc

{'a', 'b', 'c'}

### 세트를 만드는  법
- {}
- set(시퀀스객체, 반복가능한객체)

In [30]:
### 문자열 중복 제거
a = set('aaaafffdsefsedfsdaef')

In [31]:
a

{'a', 'd', 'e', 'f', 's'}

In [32]:
a = set('a')

In [34]:
b = set(range(100))

In [35]:
b

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

### 집합
- 합집합(union)
- 세트로 만들기
- 세트1 | 세트2 합집합
- set.union(세트1, 세트2)

In [36]:
a = set(range(5))

In [37]:
b = {7,8,9}

In [38]:
a

{0, 1, 2, 3, 4}

In [39]:
b

{7, 8, 9}

In [41]:
c = set.union(a,b)

In [42]:
c

{0, 1, 2, 3, 4, 7, 8, 9}

### 과제2
- 구글링을 통해서 set의 모든 집합연산을 코드로 만들어 주세요!
- 차집합, 여집합 등
- 최소 5개 이상 찾아서 코드 작성 및 주석처리 꼭 필수!

# 함수 만들기!
- 데이터 분석에서도 가장 많이 사용함!
- 반복하는 코드나, 내가 원하는 코드를 한 곳에서 모아서 함수만 부르게 되면 불러 쓸 수 있는 것!

In [43]:
a = [1,2,3]

In [44]:
for i in a:
    print(i)

1
2
3

In [45]:
print('안녕하세요!')

안녕하세요!

### 함수를 만드는 법!
def 함수이름():

    코드

In [48]:
##함수 만들기!
def hola():
    print('안녕하세요, Hello!')
    print('많은 분들이 오지 않아서 마음이 아파요..')

In [49]:
##함수를 호출하기
#함수()
hola()

안녕하세요, Hello!
많은 분들이 오지 않아서 마음이 아파요..

### 매개변수를 넣어 함수를 만들어 보기!
- 매개변수가 함수 안에 들어가서 값이 나온다!

def 함수이름(매개변수1, 매개변수2):
   
    코드

In [51]:
def cal(a,b):
    print(a+b)

In [52]:
## 함수를 출력할 때 해당 매개변수를 내가 직접 기입하면 그 값을 계산해서 나온다!
cal(100,200)

300

In [53]:
def cla(a,b):
    print(c+d)

In [55]:
def aaa(a,b,c):
    print(a+b+c)

In [56]:
aaa(10,20,30)

60

In [57]:
#Q 수학, 과학, 영어의 평균 출력하는 함수를 만들어 주세요!
# 함수에 매개변수 3개를 넣으면 평균이 출력되게 해주세요!
def cla(수학, 과학, 영어):
    print((수학 + 과학 + 영어) / 3)

In [59]:
def ave(a,b,c):
    print((a+b+c)/3)

In [60]:
ave(10,20,30)

20.0

### 함수의 결과를 반환하는 방법!

def 함수이름(매개변수):
    
    return 반환 값

In [61]:
def ave(a,b,c):
    return((a+b+c)/3)

In [62]:
test = ave(10,20,30)

In [63]:
test

20.0

### 함수의 값을 여러 개 반환할 수 있다!
def 함수이름(매개변수):

    return 반환값1, 반환값2

In [64]:
# 평균과 전체 합을 나타내는 함수를 만들어 주세요!
def test(a,b,c):
    sum = a+b+c
    avg = (a+b+c)/3
    return sum, avg

In [67]:
df = list(test(10,20,30))

In [68]:
df

[60, 20.0]

In [69]:
# 평균과 전체 합을 나타내는 함수를 만들어 주세요!
def test(a,b,c):
    sum = a+b+c
    avg = (a+b+c)/3
    return list(sum), list(avg)

In [81]:
# 평균과 전체 합을 나타내는 함수를 만들어 주세요!
def test(a,b,c):
    addd = a+b+c
    avg = int((a+b+c)/3)
    
    return addd, avg

In [82]:
asdf = test(10,20,30)

### 람다 표현식 사용하기
- 함수를 조금 더 간편하게 작성할 수 있다
- 리스트 컴프리헨션을 이용해서 리스트안에서 자유롭게 반복문을 적었던 것처럼 람다표현식을 통해 함수처럼 사용할 수 있다!

In [84]:
def addd(x):
    return x*10

In [85]:
addd(100)

1000

#### 람다식으로 표현하면?
- lambda 매개변수들 : 식
- labmda x : x * 10

In [86]:
lambda x: x*10

In [89]:
new_df = lambda x: x*10

In [91]:
new_df(100)

1000

### 과제 3
- 함수와 람다식을 이용해서 자유롭게 5개 이상 만들어주세요!