## 변수에 대한 개념!

- 변수라는 건 할당이라는 개념, 할당이라는 건 바지 주머니가 있으면 그곳에 돈을 넣는다.

내 바지주머니 <- 돈 10,000원 들어감

내 바지주머니에는 10,000 원이 있는 상황!

- 할당 개념

x <- 10,000 넣으면 x의 변수에 10,000 값을 할당하는 것

x는 결국 10,000 이란 뜻

x = 10 (할당)

x == 10 (같다, 다르다)

x = 10000

x라는 변수에 <- 10000을 넣는 개념

변수에 할당의 순서를 꼭 기억해 주세요!

> ## x = 10000
> ## 오른쪽에 있는 값이 왼쪽에 있는 변수에 할당된다.
> ## 약속!

In [1]:
x = 10

In [3]:
print(x)

10

In [4]:
## 변수로 사용할 수 있는 규칙
1. 영문 문자와 숫자를 사용할 수 있다.
2. 대소문자를 구분한다.
3. 문자부터 시작해야 하고 숫자로 시작하면 안 된다.
4. _(밑줄문자)로 시작할 수 있다.
5. 특수문자(&#$$*#@) 사용할 수 없다.)
6. 파이썬 키워드, 약속어 print, if, for, sum 초록색 친구들은 사용하면 안 된다.

SyntaxError: invalid syntax (1951360208.py, line 2)

In [5]:
abc = 10

In [6]:
Abc = 100

In [7]:
print(abc)
print(Abc)

10
100

In [8]:
10abc = 10 # 변수명이 숫자로 시작하면 에러

SyntaxError: invalid syntax (1764144618.py, line 1)

In [9]:
_abc = 10 # 변수명이 밑줄 문자로 시작해도 된다.

In [10]:
_abc

10

In [11]:
print(10)

10

In [12]:
print = 10
print(10) # 변수명을 print로 지정해서 에러 발생, 커널을 restart 해야 한다.

TypeError: 'int' object is not callable

In [1]:
# 문자열 자체도 변수에 넣을 수 있음

a = 'Hello Python'

In [2]:
a

'Hello Python'

In [3]:
a = '10'

In [4]:
a

'10'

In [5]:
type(a)

str

In [6]:
b = 10

In [7]:
type(b)

int

## 변수에 대해서 여러 개를 한 번에 할당할 수 있다.

In [9]:
a, b, c = 10, 200, 30 # 순서에 따라 대응된다.

In [10]:
print(a)
print(b)
print(c)

10
200
30

In [11]:
a, b, c = 10, 200 # 변수는 3개인데 값을 2개만 할당했다.

ValueError: not enough values to unpack (expected 3, got 2)

In [13]:
# 한 개의 값을 여러 변수에도 할당할 수 있다.

x = y = z = 100

In [14]:
print(x)
print(y)
print(z)

100
100
100

In [15]:
z

100

In [16]:
y

100

In [17]:
x

100

## 직접 계산이 아닌 변수를 통한 계산이 가능하다!

In [18]:
a = 10
b = 20
c = 300

In [19]:
a+b+c # 변수에 대한 연산이 가능하다!

330

In [20]:
# 할당 연산자
a + 100

110

In [21]:
b*3

60

In [22]:
a = a + 20

In [23]:
a

30

In [24]:
# 산술 후 바로 할당할 수 있는 연산자를 제공

a = 10
a += 20 # a = a + 20

In [25]:
a

30

In [26]:
a = 10
a -= 5

In [27]:
a

5

### 곱하기, 나누기 다 가능하다!
- 과제로 직접 해보기!

#### 유저나, 사용자에게 입력을 요청하고 사용자가 입력한 값을 변수에 할당할 수 있다!
- input()

In [28]:
input()

Hello Python

'Hello Python'

In [29]:
# 변수를 할당하는 개념은
a = input() # default는 문자열로 저장이 된다.

123

In [30]:
a

'123'

In [31]:
type(a)

str

In [32]:
a + 10 # a가 문자열로 저장되어 있어, 연산하면 에러가 발생

TypeError: can only concatenate str (not "int") to str

In [33]:
# 숫자를 입력하세요!
a = input()
b = input()

10
20

In [34]:
a

'10'

In [35]:
b

'20'

In [36]:
print(a+b) # a, b가 기본적으로 문자열로 저장되기 때문에, 연산이 되지 않고 문자열로 합쳐졌다.

1020

## int 정수로 변환할 수 있음
- 변수 = int(input())
- 변수 = int(input('문자열'))

In [37]:
a = int(input())

10

In [38]:
type(a)

int

In [39]:
a = int(10)

In [40]:
type(a)

int

### split

- 값을 나눠주는 개념!


- 변수1, 변수2 = input().split 사용한 변수 여러 개에 저장이 된다.

In [41]:
a, b = input('문자열 두 개 입력하세요!').split() # 공백을 기준으로 분리해준다.

문자열 두 개 입력하세요!df f

In [42]:
print(a)
print(b)

df
f

In [43]:
a, b = input('문자열 두 개 입력하세요!').split()

문자열 두 개 입력하세요!10 20

In [45]:
print(a)
print(b)

10
20

### split -> int
- 수치형 데이터로 바꿔줘야 한다. 귀찮아서 한 번에 바꿔주는 기술
- map 내가 원하는 값의 자료형으로 바꿔준다.

변수1, 변수2 = map(int, input().split())

In [46]:
print(20)
print() # 공백의 개념
print(a)

20

10

In [47]:
a, b = map(int, input('숫자 두 개 입력하세요!: ').split())

숫자 두 개 입력하세요!: 10 20

In [48]:
print(a+b)

30

In [49]:
a, b = map(int, input('숫자 두 개 입력하세요!: ').split(','))

숫자 두 개 입력하세요!: 10,20

In [50]:
print(a+b)

30

In [51]:
a, b = map(int, input('숫자 두 개 입력하세요!: ').split('/'))

숫자 두 개 입력하세요!: 10/20

In [52]:
print(a+b)

30

### 출력방법!
- print()
- print(값, 값, 값)
- print(변수, 변수, 변수)

In [53]:
print(a)
print(b)

10
20

In [54]:
print(a, b)

10 20

In [55]:
print(10, 20, 30)

10 20 30

In [56]:
# 문자열도 가능

print('hi', 'hi1')

hi hi1

### sep 값 사이에 문자를 넣을 수 있다.
-print(값1, 값2 sep='문자 또는 문자열'

-print(변수1, 변수2 sep='문자 또는 문자열')

In [57]:
print(1, 2, 3, sep=',')

1,2,3

In [58]:
print(1, 2, 3, sep='_')

1_2_3

In [59]:
print(1, 2, 3, sep='aa')

1aa2aa3

In [60]:
print(100, 200, sep='x')

100x200

### 줄바꿈!!

In [61]:
print(1)
print(2)
print(3)

1
2
3

In [62]:
print(1,2,3,10, sep='\n')

1
2
3
10

### end 사용
- 파이썬에서 기본적으로 print로 출력하면 값 끝에 \n을 붙이는 개념, end를 통해서 값이 붙여진다.
- print(값, end='문자 또는 문자열')
- print(변수, end='문자 또는 문자열')

In [63]:
print(1, end='')
print(2, end='')
print(3)

123

In [64]:
print(1, end='*')
print(2, end='*')
print(3)

1*2*3