### 리스트로 다양한 상황에서 문제를 해결하는 방법

In [1]:
a = [11,25,27,29,58,56]

### 반복문을 이용해서 가장 작은 수와 가장 큰 수를 찾는 방법

In [2]:
a = [11,25,27,29,58,56]
max = 0
for i in a:
    if max < i:
        max = i
print(max)

58

In [3]:
# 모범 답안 예시
a = [11,25,27,29,58,56]

min = a[0]
for i in range(len(a)):
    if min > a[i]:
        min = a[i]
print(min)

max = a[0]
for i in range(len(a)):
    if max < a[i]:
        max = a[i]
print(max)

11
58

- 단순히 리스트 a가 있을 때, min(a), max(a)를 사용해도 된다.

### 리스트 표현식
- 리스트 컴프리헨션(list comprehension)
- 리스트 안에 반복문을 간단하게 만들어서 사용할 수 있음
- [식 for 변수 in 리스트]
- list(식 for 변수 in 리스트)

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
a = [i+100 for i in range(10)]
a

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

In [8]:
a = [i*100 for i in range(10)]
a

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900]

In [9]:
a = [i*'과제를 꼭 해주세요. ' for i in range(4)]
a

['',
 '과제를 꼭 해주세요. ',
 '과제를 꼭 해주세요. 과제를 꼭 해주세요. ',
 '과제를 꼭 해주세요. 과제를 꼭 해주세요. 과제를 꼭 해주세요. ']

### 리스트 표현식에서 if 조건문을 사용하는 법
- [식 for 변수 in 리스트 if 조건식]
- list(식 for 변수 in 리스트 if 조건식)

In [10]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# 조건문을 이용해서 리스트에 값을 넣기

a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# 2의 배수를 넣어주세요!

a = [i for i in range(10) if i%2 == 0]
a

[0, 2, 4, 6, 8]

### for 반복문과 if 조건문이 여러 번 사용되는 경우
-[식 for 변수 in 리스트1 if 조건식1 식 for 변수 in 리스트2 if 조건식2...n번째]

### 구구단 2~4까지 값이 출력되는 코드

In [14]:
a = [(i+2)*(j+1) for i in range(3) for j in range(9)]
for k in a:
    print(k)

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36

In [15]:
# 모범 답안
a = [i*j for i in range(2,5) for j in range(1,10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36]

### 리스트에 map을 사용하기
map은 리스트의 요소를 지정된 함수로 처리해준다.
- list(map(함수, 리스트))
- tuple(map(함수, 튜플))

In [16]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
a = [1.2, 3.5, 10.8, 7.6]
a

[1.2, 3.5, 10.8, 7.6]

In [18]:
a = list(map(int,a))
a

[1, 3, 10, 7]

In [19]:
list((map(int,a)))

[1, 3, 10, 7]

### 2차원 리스트

In [20]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [21]:
# 2차원은 y축이 들어간 개념
# x축 y축 개념은 행과 열
# 차원을 표시할 때 []

a = [1,2,3,4]
b = [[1], [2], [3], [4]]

In [22]:
b  # 2차원

[[1], [2], [3], [4]]

In [23]:
b = [[[1], [2], [3], [4]]]
b  # 3차원

[[[1], [2], [3], [4]]]

### 2차원 리스트를 만드는 방법
- 리스트 = [[1],[2],[3],[4]]

In [25]:
a = [[1,2],[3,4],[5,6]]
a

[[1, 2], [3, 4], [5, 6]]

### index로 리스트의 값에 접근

In [27]:
b = [1,2,3,4]
b[0]

1

In [28]:
a = [[1,2],[3,4],[5,6]]
a[0]

[1, 2]

In [29]:
a = [[1,2],[3,4],[5,6]]
a[0][0]  # 0번째 행, 0번째 열

1

In [30]:
a = [[1,2],[3,4],[5,6]]
a[1][0]  # 1번째 행, 0번째 열

3

1[0][0], 2[0][1]

3[1][0], 4[1][1]

5[2][0], 6[2][1]

In [32]:
a = [[[1,2],[3,4],[5,6]]]  # 3차원에서의 인덱스 접근
a[0][0][0]

1

In [34]:
import pandas as pd
df = pd.DataFrame({'A':[1,2],
                  'B':[3,4]})
df

   A  B
0  1  3
1  2  4