## 문자열 위치 찾기!


- find('찾을문자열') 문자열에서 특정 문자열을 찾아서 인덱스 반환, 문자열이 없으면 -1 반환


- 왼쪽에서부터 문자열 찾고, 같은 문자열이 여러 개일 경우 처음 찾는 문자열의 인덱스 반환!

- rfind(_) 오른쪽 - 오른쪽부터 문자열 찾기!

In [1]:
'apple pineapple'.find('pl')

2

In [2]:
'apple pineapple'.find('aaa')

-1

### 문자열 개수 세기

- count('문자열') 특정 문자열이 몇 번 나오는지 확인

In [6]:
'aaa bbb, aa'.count('bbbb')

0

## 문자열 포매팅, 서식 지정자

- ex) 영희의 평균 성적은 75.2점 입니다.
- 영희가 바뀌고 점수만 바뀌면 다른 사람들의 점수를 계속해서 사용할 수 있다.
- ㅇㅇ의 평균 성적은 dd점 입니다.

### 서식지정자
- '%s'%'문자열'

- %s에 문자열이 들어간다.

In [9]:
'%s는 착하다.' %'영희'

'영희는 착하다.'

In [10]:
'%s는 착하다.' %'철수'

'철수는 착하다.'

In [12]:
## 변수에 넣어서도 가능하다.

name = '길동'

'%s은 홍길동이다!' % name

'길동은 홍길동이다!'

### 숫자도 넣을 수 있다.
'%d' % 숫자

In [13]:
'길동이는 %d 살이다.' % 50

'길동이는 50 살이다.'

### 소수점 표현하기!

'%f' % 숫자

In [14]:
'%f' % 1.7 #6자리가 기본

'1.700000'


### 자리수 조정!

'%.자릿수f' %숫자

In [15]:
'%.3f' % 1.7

'1.700'

### 서식지정자 문자열로 정렬 가능 ( 공백을 넣을 수 있음 )
---- 오른쪽 정렬
- %길이s

- %길이d 

- %길이.자릿수f

----- 왼쪽 정렬

- %-길이s

In [16]:

'%10s' % 'python'

'    python'

In [17]:
'%10d' % 100

'       100'

In [18]:
'%-10s' % 'python'

'python    '

### 여러 가지가 값들이 여기에 들어간다!

- 위에 배운 내용을 복합적으로 사용하면 다양하게 문자열 서식자를 사용할 수 있다

'오늘은 11월 마지막 입니다.' 11월 숫자와 마지막을 문자열 서식자로 바꿔보자!

In [19]:
'오늘은 %d 월 %s 입니다.' % (11, '마지막')

'오늘은 11 월 마지막 입니다.'

### 문자열 포메팅 메서드 사용하기!

- 문자열을 만들 때 서식 지정바 방식보다 간단하고, {} 중괄호 안에 포매팅을 지정해서 format 메서드에 값을 넣어서 대입!

'{인덱스}'.format(값)

In [20]:
'여러분, {0}'.format('기말고사 파이팅!')

'여러분, 기말고사 파이팅!'

In [21]:
'여러분 기말고사 점수는 {0}점 입니다.'.format(100)

'여러분 기말고사 점수는 100점 입니다.'

### 여러개 값을 넣어 보기!

In [22]:
'여러분, {0}, 여러분의 기말고사 점수는 {1}점 입니다.'.format('기말고사 파이팅!', 100)

'여러분, 기말고사 파이팅!, 여러분의 기말고사 점수는 100점 입니다.'

In [24]:
'여러분, {0}, 여러분의 기말고사 {2}는 {1}점 입니다.'.format('기말고사 파이팅!', 100, 5) #format의 값이 순서 기준

'여러분, 기말고사 파이팅!, 여러분의 기말고사 5는 100점 입니다.'

In [25]:
## 여러 개의 값을 넣는 경우
'{0} {0} {1} {1}'.format('주목', '과제를 꼭 하자!')

'주목 주목 과제를 꼭 하자! 과제를 꼭 하자!'

In [27]:
## 인덱스 대신 이름을 지정

'여러분 {test} {score} 파이팅!'.format(test ='기말고사', score =100)

'여러분 기말고사 100 파이팅!'

### 사용자에게 번호를 입력받아서 
- 짝수면 해당 번호는 짝수입니다.
- 홀수면 해당 번호는 홀수입니다.

.format을 이용해서 해당 값에 대해서 같이 출력해 주세요!

In [31]:
x = int(input('번호를 입력해주세요'))
if x % 2 == 0:
    print('해당번호 {0}는 짝수입니다'.format(x))
else:
    print('해당번호 {0}는 홀수입니다.'.format(x))

번호를 입력해주세요5
해당번호 5는 홀수입니다.

In [33]:
n=int(input())
if n%2==0:
    print('{0}는 짝수입니다.'.format(n))
else:
    print('{0}은 홀수입니다.'.format(n))

5
5은 홀수입니다.

### 
array = ['사과','자두','바나나','체리','설탕'] 

여기서 설탕을 뺴고 나머지를 다 출력해 주세요! 리스트컴프리헨션도 되고, 반복문해도 되고 자유롭게! pop 제외하고

In [34]:
array=['사과', '자두', '바나나', '체리', '설탕']

for i in range(4):
    print(array[i])

사과
자두
바나나
체리

In [35]:
array = ['사과','자두','바나나','체리','설탕']

for i in array:
    if i != '설탕':
        print(i)

사과
자두
바나나
체리

In [36]:
i=0
while i<4:
    print(array[i])
    i+=1

사과
자두
바나나
체리

In [37]:
array = ['사과', '자두', '바나나', '체리', '설탕']
i = 0
while i < len(array)-1:
    print(array[i])
    i+=1

사과
자두
바나나
체리

In [38]:
array = ['사과','자두','바나나','체리','설탕']
array.remove('설탕')
print(array)

['사과', '자두', '바나나', '체리']

In [39]:
array=['사과','자두','바나나','체리','설탕']

for x in array:
    if x!='설탕':
        print(x)

사과
자두
바나나
체리

In [40]:
array=['사과','자두','바나나','체리','설탕']

for i in array:
    if i=='설탕':
        break
    print(i)

사과
자두
바나나
체리

In [41]:
for i in range(5) :
    if i == 4 :
        pass
    else :
        print(array[i])

사과
자두
바나나
체리

### 딕셔너리 응용!

- 딕셔너리 가장 큰 특징은 키-값 쌍으로 구성
- 딕셔너리는 리스트와 달리 키로 접근하는 법이 있고, 값으로 접근하는 법이 있다.

In [44]:
a = [1,2,3,4,5]

In [48]:
a

[1, 2, 3, 4, 5]

In [45]:
a[1]

2

In [73]:
x = {'a':1,'b':2,'c':3}

In [47]:
x

{'a': 1, 'b': 2, 'c': 3}

- 딕셔너리에 키-값 쌍 추가하기
- setdefault : 키-값 쌍 추가
- update : 키의 값 수정, 키가 없으면 키-값 쌍 추가

In [49]:
x

{'a': 1, 'b': 2, 'c': 3}

In [51]:
x.setdefault('d')

In [52]:
x

{'a': 1, 'b': 2, 'c': 3, 'd': None}

In [53]:
x.setdefault('e',5) #키-값 모두 다

5

In [54]:
x

{'a': 1, 'b': 2, 'c': 3, 'd': None, 'e': 5}

- update(키=값) 이름 그대로 키의 값을 수정한다

In [56]:
x.update(d=4)

In [57]:
x

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [58]:
x.update(a=10)

In [59]:
x

{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [61]:
x.update(b=20, c=30)

In [62]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 4, 'e': 5}

#### 딕셔너리 업데이트 하는 법  ( 값 넣는 법 검색)

In [63]:
a = {1:'하나',2:'둘'}

In [64]:
a

{1: '하나', 2: '둘'}

In [65]:
a.update({1:'one',2:'two'})

In [66]:
a

{1: 'one', 2: 'two'}

### pop 을 이용해서 삭제해보기!

In [67]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 4, 'e': 5}

In [68]:
x.pop('d') #키랑 값이 모두 다 빠짐

4

In [69]:
x

{'a': 10, 'b': 20, 'c': 30, 'e': 5}

In [71]:
## 리스트와 동일
x.clear()

In [74]:
x

{'a': 1, 'b': 2, 'c': 3}

### 딕셔너리에서 키로 값을 가져오기

- 키 값만 가져오기!
- get(키)

In [75]:
x

{'a': 1, 'b': 2, 'c': 3}

In [76]:
x.get('a') #a 키를 이용해서 값을 가져온다

1

### 딕셔너리 키- 값 쌍 가져오기
### 키만 가져오기
### 값만 가져오기

- items : 키-값 쌍을 모두 가져옴!
- keys : 키를 모두 가져옴
- values: 값을 모두 가져옴

In [78]:
x

{'a': 1, 'b': 2, 'c': 3}

In [79]:
x.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [80]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [83]:
df = list(x.values())

In [85]:
df[0]

1